.btn {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  cursor: pointer;
  font-size: .875rem;
  height: 35px;
  padding: .375rem .75rem;
}

.btn[disabled] {
  opacity: 0.3;
}

.small {
  font-size: 8px;
}

.primary {
  color: #20a8d8;
}

.primary:hover {
  color: #fff;
  background-color: #20a8d8;
  border-color: #20a8d8;
}

.danger {
  color: #f86c6b;
}

.danger:hover {
  background-color: #f86c6b;
  border-color: #f86c6b;
}
