.listContainer {
}

.listItem {
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  height: 40px;
}

.listItem:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.listItem:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
