.cardContainer {
  border: 1px solid #c8ced3;
  border-radius: 0.25rem;
}

.cardHeader {
  padding: 0 1.25rem;
  height: 2.5rem;
  margin-bottom: 0;
  background-color: #f0f3f5;
  border-bottom: 1px solid #c8ced3;
  font-weight: bold;
}

.cardBody {
  padding: 1.25rem;
}

.headerFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carControls {
  display: flex;
  align-items: center;
}
