.card {
  margin-bottom: 20px;
}

.listHeader {
  display: flex;
  justify-content: space-between;
}

.controls {
  margin: -10px;
}

.listItem {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.image {
  width: 100%;
  max-width: 200px;
}

.bigImg {
  max-width: 100%;
}

.cursorCrosshair {
  cursor: crosshair;
}

.imgContainer {
  position: relative;
  z-index: -1;
}

.point {
  position: absolute;
  background: #fff;
  height: 20px;
  width: 20px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 5px solid #115770;
}
