.card {
  margin-bottom: 20px;
}

.listHeader {
  display: flex;
  justify-content: space-between;
}

.controls {
  margin: -10px;
}

.listItem {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.image {
  width: 100%;
  max-width: 200px;
}

.bigImg {
  max-width: 100%;
}
