.header {
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #c8ced3;
  display: flex;
  height: 55px;
  justify-content: space-between;
  position: fixed;
  padding: 0 10px;
  top: 0;
  width: 100%;
  z-index: 1;
}

.left {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 10px;
}

@media (min-width: 992px) {
  .menuBtn {
    display: none;
  }
}
