:global #root, :global body, :global html {
  height: 100%;
}

:global body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: .875rem;
}

:global * {
  box-sizing: border-box;
}

:global .root {
  padding-top: 55px;
}

:global .center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}
